@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: @ViewData["Aluno"] </p>

<address>
    <strong>Mais Informações: </strong><a href="https://www.linkedin.com/in/adalberto-ferreira-06a5a634/">Adalberto Linkedinn</a>
</address>